<h4><%= t('mentions.mention.title') %></h4>
<ul>
<% @mentions.each do |mention| %>
 <li><%= link_to "#{Report.find(mention.mentioning_id).title}", "/reports/#{mention.mentioning_id}" %></li>
<% end %>
</ul>
