<h1>日報の一覧</h1>

<nav class="page-nav">
    <%= link_to '日報の新規作成', new_report_path %>
</nav>

<div id="reports" class="index-items">
  <% @reports.each do |report| %>
    <div class="index-item">
      <%= render report %>
      <p>
        <%= link_to t('views.common.show', name: Report.model_name.human.downcase), reports %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @reports %>
